.catalog {
  width: 100%;
}

.sorBottans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 3rem;
  gap: 3rem;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
  background-color: aliceblue;
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: calc(33.33% - 20px);
  background-color: aquamarine;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.post .img {
  width: 80%;
  height: 60vh;
  padding-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

